# Java / Maven
target/
*.class
.mvn/
!.mvn/wrapper/maven-wrapper.properties

# IDE / OS
.idea/
.vscode/
*.iml
.DS_Store
Thumbs.db

# Python
__pycache__/
*.pyc
.venv/

# SQLFluff
.sqlfluff_cache/
.obsidian/
